include LICENSE
include README.md
include folio.example.yaml
include pyproject.toml

recursive-include folio *.py
recursive-include tests *.py

prune tests/mermaid
prune tests/validation

global-exclude __pycache__
global-exclude *.pyc
global-exclude .DS_Store
